
<div class="container" ng-if="showPrefs">
    <div class="row">
        <input style="bg" type="text" name="firstName" placeholder="Enter firstname:" ng-model="ctrl.userPrefs.firstName" 
        ng-required ng-min-length="ctrl.userPrefs.firsNameLen" ng-max-length="ctrl.userPrefs.maxLenName"/>
    </div>
    <div class="row">
        <input type="text" name="lastName" placeholder="Enter lastname:" ng-model="ctrl.userPrefs.lastName" 
        ng-required ng-min-length="ctrl.userPrefs.lastNameLen" ng-max-length="ctrl.userPrefs.maxLenName"/>
    </div>
    <div class="row">        
        <input type="email" name="email" placeholder="Enter email:" ng-model="ctrl.userPrefs.email"/>
    </div>
    <div class="row">        
        <input type="phone" name="phone"  placeholder="Enter phone:###-###-####" ng-model="ctrl.userPrefs.phone" pattern="(\d{3})-(\d{3})-(\d{4})"/>
    </div>
    <div class="row">        
        <input type="favorite menu"  placeholder="favorite menu item:" ng-model="ctrl.userPrefs.menuNumber"/>
    </div>
</div>
<div class="container" ng-if="!showPrefs">
    Not Signed Up Yet. <a ui-sref="public.myinfo"> Sign up Now!</a>
</div>