<form name="signupForm" id="signupForm" novalidate class="container">
    <div class="row">
        *<input style="bg" type="text" name="firstName" placeholder="Enter firstname:" ng-model="ctrl.firstName" 
        ng-required ng-min-length="ctrl.firsNameLen" ng-max-length="ctrl.maxLenName"/>
    </div>
    <div class="row">
        *<input type="text" name="lastName" placeholder="Enter lastname:" ng-model="ctrl.lastName" 
        ng-required ng-min-length="ctrl.lastNameLen" ng-max-length="ctrl.maxLenName"/>
    </div>
    <div class="row">        
        *<input type="email"  placeholder="Enter email:" ng-model="ctrl.email"/>
    </div>
    <div class="row">        
        *<input type="phone"  placeholder="Enter phone:###-###-####" ng-model="ctrl.phone" pattern="(\d{3})-(\d{3})-(\d{4})"/>
    </div>
    <div class="row">        
        *<input type="favorite menu"  placeholder="favorite menu item:" ng-model="ctrl.menuNumber"/>
    </div>
    <div class="row">        
        <span ng-if="signupForm.firstName.$error.maxlength && signupForm.firstName.$touched">
            first name is required and should be between {{ctrl.firsNameLen}} and {{ctrl.maxLenName}} characters.
        </span>
        <span ng-if="signupForm.lastName.$error.maxlength && signupForm.lastName.$touched">
            last name is required and should be between {{ctrl.lastNameLen}} and {{ctrl.maxLenName}} characters.
        </span>
        <span ng-if="signupForm.phone.$error.required && signupForm.phone.$touched">
            phone is required
        </span>
        <span ng-if="signupForm.email.$error.required && signupForm.email.$touched">
            email is required
        </span>
        <span ng-if="signupForm.email.$invalid  && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
        </span>
        <span ng-if="signupForm.phone.$invalid  && signupForm.phone.$touched">
            Must be a valid phone : ###-###-####
        </span>
        <span ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) 
                && signupForm.firstName.$touched")>
            firstname should be between {{ctrl.firsNameLen}} and {[ctrl.maxLenName}} characters.
        </span>
    </div>
    <div class="row">   
        <button ng-disabled="signupForm.$invalid"  type="submit" ng-click="ctrl.submit()">Submit</button>
    </div>
</form>