<form name="signupForm"  novalidate class="container">
    <div class="row">
        First Name* : <input style="bg" type="text" name="firstName" placeholder="Enter firstname:"
         ng-model="ctrl.userPrefs.firstName" 
        ng-required="true" ng-min-length="ctrl.userPrefs.firsNameLen" ng-max-length="ctrl.userPrefs.maxLenName"/>
    </div>
    <div class="row">
        Last Name* :<input type="text" name="lastName" placeholder="Enter lastname:" 
        ng-model="ctrl.userPrefs.lastName" 
        required min-length="4" max-length="10"/>
        <span
            ng-if="(regForm.lastName.$error.minlength || regForm.lastName.$error.required) && regForm.lastName.$touched">
            Last name must be at least 4 characters long
          </span>
          <span ng-if="regForm.lastName.$error.maxlength && regForm.lastName.$touched">
            Last name must not be longer than 10 characters
          </span>
    </div>
    <div class="row">        
        Email* :<input type="email" name="email" placeholder="Enter email:" ng-model="ctrl.userPrefs.email"/>
    </div>
    <div class="row">        
        Phone* :<input type="phone" name="phone"  placeholder="Enter phone:###-###-####" ng-model="ctrl.userPrefs.phone" pattern="(\d{3})-(\d{3})-(\d{4})"/>
    </div>
    <div class="row">        
        Favorite Menu* :<input type="favorite menu"  placeholder="favorite menu item:" ng-model="ctrl.userPrefs.menuNumber"/>
    </div>
    <div class="row">        
        <span ng-if="signupForm.firstName.$error.maxlength && signupForm.firstName.$touched">
            first name is required and should be between {{ctrl.userPrefs.firsNameLen}} and {{ctrl.userPrefs.maxLenName}} characters.
        </span>
        <span ng-if="signupForm.lastName.$error.maxlength && signupForm.lastName.$touched">
            last name is required and should be between {{ctrl.userPrefs.lastNameLen}} and {{ctrl.userPrefs.maxLenName}} characters.
        </span>
        <span ng-if="signupForm.phone.$error.required && signupForm.phone.$touched">
            phone is required
        </span>
        <span ng-if="signupForm.email.$error.required && signupForm.email.$touched">
            email is required
        </span>
        <span ng-if="signupForm.email.$invalid  && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
        </span>
        <span ng-if="signupForm.phone.$invalid  && signupForm.phone.$touched">
            Must be a valid phone : ###-###-####
        </span>
        <span ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) 
                && signupForm.firstName.$touched")>
            firstname should be between {{ctrl.userPrefs.firsNameLen}} and {{ctrl.userPrefs.maxLenName}} characters.
        </span>
    </div>
    <div class="row">   
        <button ng-disabled="signupForm.$invalid"  type="submit" ng-click="ctrl.submit()">Submit</button>
    </div>
</form>
<div class="row">
<span ng-show="ctrl.saveSucess" class="success">Your information has been saved</span></div>
<div class="row">
<span ng-show="ctrl.serverError" class="danger">Invalid favorite menu item... please retry.</span></div>