<form name="signupForm"  novalidate class="container">
    <div class="row">
        First Name* : <input  type="text" name="firstName" placeholder="Enter firstname:"
         ng-model="ctrl.userPrefs.firstName" style="background-color :black;  "
        ng-required="true" ng-minlength="ctrl.userPrefs.firsNameLen" ng-maxlength="ctrl.userPrefs.maxLenName"/>
        <span
            ng-show="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required)
             && signupForm.firstName.$touched">
            First name must be at least {{ctrl.userPrefs.firsNameLen}} characters long
          </span>
          <span ng-show="signupForm.firstName.$error.maxlength && signupForm.firstName.$touched">
            First name must not be longer than {{ctrl.userPrefs.maxLenName}} characters
          </span>
    </div>
    <div class="row">
        Last Name* :<input type="text" name="lastName" placeholder="Enter lastname:" 
        ng-model="ctrl.userPrefs.lastName" style="background-color :black;  "
        required ng-minlength="ctrl.userPrefs.firsNameLen" ng-maxlength="ctrl.userPrefs.maxLenName"/>
        <span
            ng-show="(signupForm.lastName.$error.minlength || signupForm.lastName.$error.required)
             && signupForm.lastName.$touched">
            Last name must be at least {{ctrl.userPrefs.firsNameLen}} characters long
          </span>
          <span ng-show="signupForm.lastName.$error.maxlength && signupForm.lastName.$touched">
            Last name must not be longer than {{ctrl.userPrefs.maxLenName}} characters
          </span>
    </div>
    <div class="row">        
        Email* :<input type="email" style="background-color :black;  " required name="email" placeholder="Enter email:" ng-model="ctrl.userPrefs.email"/>
        <span ng-if="signupForm.email.$error.required && signupForm.email.$touched">
            email is required
        </span>
        <span ng-if="signupForm.email.$invalid  && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
        </span>
    </div>
    <div class="row">        
        Phone* :<input type="phone" style="background-color :black;  " name="phone"  placeholder="Enter phone:###-###-####" ng-model="ctrl.userPrefs.phone" pattern="(\d{3})-(\d{3})-(\d{4})"/>
        <span ng-if="signupForm.phone.$invalid  && signupForm.phone.$touched">
            Must be a valid phone : ###-###-####
        </span>
    </div>
    <div class="row">        
        Favorite Menu* :<input type="favorite menu"  style="background-color :black;  " placeholder="favorite menu item:" ng-model="ctrl.userPrefs.menuNumber"/>
    </div>
    
    <div class="row">   
        <button style="background-color :Red;"  ng-disabled="signupForm.$invalid"  type="submit" ng-click="ctrl.submit()">Submit</button>
    </div>
</form>
<div class="container">
<div class="row">
<span ng-show="ctrl.saveSucess" style="color:green">Your information has been saved</span></div>
<div class="row">
<span ng-show="ctrl.serverError" style="color:red">Invalid favorite menu item... please retry.</span></div>
</div>